<html>
  <head>
    <title>Quokka or Not</title>
  </head>
  <body>
    {{ env || dump }}
    <h1>{{ title }}</h1>
    <img src="{{ image }}" />
    {% if outcome %}
    <p>Yes, this is probably a quokka</p>
    {% else %}
    <p>Nope, doesn't look like there's a quokka in that picture</p>
    {% endif %} {% for result in results.predictions %}
    <dl>
      <dt>{{ result.tagName }}</dt>
      <dd>{{ (result.probability * 100) | round(2) }}%</dd>
    </dl>
    {% endfor %} {% if outcome == false %}
    <p>That's a bit sad though, so here's a picture of a quokka</p>
    <img src="https://quokkas.amyskapers.tech/img/quokka_(1).jpg" />
    {% endif %}
  </body>
</html>
