<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
		<title>{{ title }}</title>
		<base href="/" />
		<link rel="stylesheet" type="text/css" href="./style.css" />
		<link rel="shortcut icon" href="/img/quokka_(0).jpg" />
	</head>
	<body>
		<h1>{{ title }}</h1>
		<p>The WhatsApp version of Quokkabot is built using Twilio's <a href="https://www.twilio.com/whatsapp" target="_blank">WhatsApp API</a>.</p>
	</body>
</html>
